# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/dist/output.css
/public/build
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# db
/pb_data/
/pb_migrations/

#intellij
/.idea/

#vscode
/.vscode/
/pb_docker/

# Local Netlify folder
.netlify

# docker
/**/*.tar
/**/.docker_temp*

# lightsail (fetched from CDK repo during deployment)
.lightsail/container-config.json
