.navToolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkButton {
  min-width: 150px;
  width: 100px;

  margin-right: 10px;

  border: none;
  border-radius: 10px;
  font-family: Arial, serif;
  box-shadow: none;
  font-size: .8rem;
}