@use 'styles/media.scss' as m;
@use 'styles/colors.module' as c;

html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: c.$bg-primary;
}
.mainDiv {
  display: grid;
  grid-template-columns: calc(2vw + 130px) 1fr;
  place-items: center;
  align-content: center;

  position: relative;
}

@media screen and (max-width: m.$mobile-threshold) {
  .mainDiv {
    grid-template-columns: 1fr;
  }
}

section {
  min-height: 2000px;
}