html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: #252525;
}
.mainDiv {
  display: grid;
  grid-template-columns: calc(2vw + 130px) 1fr;
  place-items: center;
  align-content: center;

  position: relative;
  top: 56px;

  background: rgba(13, 3, 40, 0.56);
}

@media screen and (max-width: 480px) {
  .mainDiv {
    grid-template-columns: 1fr;
  }
}

section {
  min-height: 100vh;
}