@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite;
}

@layer components {
    .transform-perspective {
        transform: scale(1.16);
        backface-visibility: hidden;
        filter: blur(0px);
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .page-section {
        @apply py-20 px-4;
    }

    .section-heading {
        @apply text-3xl font-bold text-primary mb-8 text-center;
    }

    .contact-icon {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        transition-duration: 300ms !important;
    }
}